 <form role="form"> 
  <div class="form-group" id="urlFormGroup">
  <% if (typeof displayBackButton !== 'undefined' ) { %>
    <% if (displayBackButton == true) { %>
      <button type="button" title="Return to Annotation Options" class="button btn-link" id="backToTooltipMenuBtn"> <span class="glyphicon glyphicon-menu-up"></span></button>
      <hr class="verticalButtonDivider">
    <% } %>
  <% } %>
    
    <% if (typeof message === 'string' ) { %>
      <label for="url" class="control-label"> <%= message %></label>
    <% } %>
    <div class="">
        <input type="text" class="form-control commentbox" id="urlField" name="urlField" aria-describedby="inputErrorStatus" placeholder="Youtube Video URL... e.g. https://www.youtube.com/watch?v=cq1q2rFVF10"/>

        <!-- Failure Indicators -->
        <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="urlErrorIcon" aria-hidden="true"></span>
        <span id="inputErrorStatus" class="sr-only">(error)</span>
        <span class="help-block hidden" id="urlHelpBlock">Enter a valid Youtube URL and click Submit Button</span>

        <!-- Success Indicators -->
        <span class="glyphicon glyphicon-ok form-control-feedback hidden" id="urlSuccessIcon" aria-hidden="true"></span>
        <span id="inputSuccess2Status" class="sr-only">(success)</span>
    </div>
  </div>
  <div id="annotationTypesMenu">
    <label class="radio-inline"><input type="radio" name="annotationDescription" value="0" checked="">Explanation</label>
    <label class="radio-inline"><input type="radio" class="btn btn-success" name="annotationDescription" value="1">Tutorial</label>
    <label class="radio-inline"><input type="radio" class="btn btn-success" name="annotationDescription" value="2">Usage</label>
  </div>

 <div class="form-group">
      <button type="button" id="submitButton" disabled="true" class="btn btn-success commentbox">Submit</button>
  </div>
</form>
