<div id="home">
  <form class="form-horizontal" role="form">
    <div class="form-group" id="urlFormGroup">
      <img src="logo.jpg" class="img-rounded" alt="StackAnnotator" id="searchPageLogo"> 
      <a href="#" data-toggle="help_popover" title="How to Use" data-content="Copy and paste the URL of the StackOverflow question you want to view from the address bar directly into the search box above."><span id="helpButton" class="glyphicon glyphicon-question-sign red" aria-hidden="true"> </span>  </a>
      
      <input type="text" class="form-control" id="urlField" name="urlField" aria-describedby="inputErrorStatus" placeholder="StackOverflow URL... e.g. http://stackoverflow.com/questions/1234567/how-do-I-use-stackannotator"/>

      <!-- Failure Indicators -->
      <span class="glyphicon glyphicon-remove form-control-feedback hidden" id="urlErrorIcon" aria-hidden="true"></span>
      <span id="inputErrorStatus" class="sr-only">(error)</span>
      <span class="help-block hidden" id="urlHelpBlock">Enter a Valid StackOverflow Post URL and Click View Button</span>

      <!-- Success Indicators -->
      <span class="glyphicon glyphicon-ok form-control-feedback hidden" id="urlSuccessIcon" aria-hidden="true"></span>
      <span id="inputSuccess2Status" class="sr-only">(success)</span>
    
    </div>
    <div class="form-group">
        <button type="button" id="submitButton" disabled="true" class="btn btn-success">View</button>
    </div>

    <script>
    $(document).ready(function(){
        $('[data-toggle="help_popover"]').popover();
    });
    </script>

  </form>
</div>