<div id="questionview">
  <h1> Question </h1>
  <div id="question" class="question">
    <h3> <%= question %> </h3>
    <p> <%= questionBody %> </p>
  </div>
  <h2> Answers </h2>
  <div id="answers" class="answers">
    <% _.each(answers, function(answer){ %>
      <% if(!(typeof answer === "string")) { %> <!-- Ignore post id. Better approach than using 'delete' in view. -->
        <div class="row">
          <div class="col-md-1 col-xs-1 col-lg-1" >
            <% if(answer.is_accepted === true) { %>
              <h3> <span class="glyphicon glyphicon-ok" id="urlSuccessIcon"></span> </h3>
            <% }; %>
            <h3> Score: <%= answer.score %> </h3>
          </div>
          <div id="<%= answer.answer_id %>" class="col-md-11 col-xs-11 col-lg-11 answer-item"> <%= answer.body %> </div>
        </div>
      <% }; %>
    <% }); %>
  </div>
  <div id="annotate-tooltip" data-toggle="popover"> </div>
</div>
