<div id="questionview">
  <div id="question" class="question">
    <h2> <%= question %> </h2>
    <p> <%= questionBody %> </p>
  </div>
  <h3 id="answersHeading"> Answers </h3>
  <div id="answers" class="answers">
    <% _.each(answers, function(answer){ %>
      <% if(!(typeof answer === "string")) { %> <!-- Ignore post id. Better approach than using 'delete' in view. -->
        <div class="row answerContainer">
          <div class="col-md-1 col-xs-1 col-lg-1 answerMetaData" >
            <% if(answer.is_accepted === true) { %>
              <h4 class="acceptedAnswerSign"> <span class="glyphicon glyphicon-ok"></span> </h4>
            <% }; %>
            <h4 class="answerScore"> Score <br> <%= answer.score %></h4>
          </div>
          <div id="<%= answer.answer_id %>" class="col-md-11 col-xs-11 col-lg-11 answer-item"> <%= answer.body %> </div>
        </div>
      <% }; %>
    <% }); %>
  </div>
  <div id="annotate-tooltip" data-toggle="popover"> </div>
</div>

<div class="modal fade" id="tweetSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-info">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="tweetSuccessHeading"><i class="glyphicon glyphicon-thumbs-up"></i> Success</h4>
      </div>
      <div class="modal-body">
        <p>Your request has been processed! </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
