<h5>Request Video Type</h5>
<button title="Explanation of the topic" class="button btn-link" id="crowdsourceDetailsBtn"> <span class="glyphicon glyphicon-info-sign icon-link"></span>Details</button>
<button title="Tutorial="button btn-link" id="crowdsourceTutorialBtn"> <span class="glyphicon glyphicon-question-sign icon-link"></span>Tutorial</button>
<button title="Demonstration of a usage of the topic" class="button btn-link" id="crowdsourceUsageBtn"> <span class="glyphicon glyphicon-exclamation-sign icon-link"></span> Usage</button>