<h5 id="requestTypeMenuHeader"><b>Request Video Type</b></h5>
<button title="Explanation of the topic" class="button btn-link" id="crowdsourceDetailsBtn"> <span class="glyphicon glyphicon-info-sign icon-link"></span><br>Details</button>
<button title="Tutorial" class="button btn-link" id="crowdsourceTutorialBtn"> <span class="glyphicon glyphicon-question-sign icon-link"></span><br>Tutorial</button>
<button title="Demonstration of a usage of the topic" class="button btn-link" id="crowdsourceUsageBtn"> <span class="glyphicon glyphicon-exclamation-sign icon-link"></span><br>Usage</button>