<div id="tooltipMenu">
  <h5 class="tooltipHeader">Request Video</h5>
  <button title="Explanation of the topic" class="btn btn-success btn-block requestTypeButton requestTypeButtonTop" id="crowdsourceDetailsBtn">
    Explanation
  </button>
  <button title="Tutorial" class="btn btn-success btn-block requestTypeButton" id="crowdsourceTutorialBtn">
    Tutorial
  </button>
  <button title="Demonstration of a usage of the topic" class="btn btn-success btn-block requestTypeButton requestTypeButtonBottom" id="crowdsourceUsageBtn">
     Usage
  </button>
  <hr class="verticalButtonDivider">
  <button title="Annotate selection with Youtube video" class="btn btn-success btn-block" id="commentBtn">
     Add a Video...
  </button>
</div>
