<div id="tooltipMenu">
  <h5 class="tooltipHeader">Request Video</h5>
  <button title="Explanation of the topic" class="btn btn-success btn-block requestTypeButton requestTypeButtonTop" id="crowdsourceDetailsBtn">
    <span class="glyphicon glyphicon-blackboard icon-link"></span> Explanation
  </button>
  <button title="Tutorial" class="btn btn-success btn-block requestTypeButton" id="crowdsourceTutorialBtn">
    <span class="glyphicon glyphicon-wrench icon-link"></span> Tutorial
  </button>
  <button title="Demonstration of a usage of the topic" class="btn btn-success btn-block requestTypeButton requestTypeButtonBottom" id="crowdsourceUsageBtn">
    <span class="glyphicon glyphicon-facetime-video icon-link"></span> Usage
  </button>
  <hr class="verticalButtonDivider">
  <button title="Annotate selection with Youtube video" class="btn btn-success btn-block" id="commentBtn"><span class="glyphicon glyphicon-plus icon-link"></span> Add a Video...
  </button>
</div>