$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.icon-link {
    font-size:25px;
}

.question {
    margin-bottom: 100px;
}

.answers {
    margin-top:25px;
}

.answer-item {
    margin-bottom:100px;
    background: beige none repeat scroll 0% 0%;
}

.highlighted {
    background-color:yellow;
}

.soft_highlighted {
    background-color:lightgray;
}

.annotation_text:hover {
    background-color:lightgreen;
}

.annotationVideo {
    margin-bottom:50px
}

.glyphicon-flag {
    color:rosybrown
}

.glyphicon-flag:hover {
    color:firebrick
}
