$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Lobster+Two|Open+Sans|Inconsolata|Dosis|Cantarell';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

//for easy experimentation

//Theme 1 (Van Gough Museum)
$highlight_color: #EBCA44;
$highlight_font_color: #262228;
$theme_color_3: #F0F1F5; //font color
$theme_color_1: #FFCE00; //font color (highlight)
$theme_color_2: #0375B4; //menu color
$theme_color_4: #007849; //menu color (rarely used)

/* 
//Theme 2 (42. Polished $ Inviting)
$highlight_color: #E1B80D;
$highlight_font_color: #262228;
$theme_color_3: #F0F1F5; //font color
$theme_color_1: #E1B80D; //font color (highlight)
$theme_color_2: #867666; //menu color
*/

/* 
//Theme 3 (21. Warm Naturals)
$highlight_color: #DB9501;
$highlight_font_color: #262228;
$theme_color_3: #F0F1F5; //font color
$theme_color_1: #DB9501; //font color (highlight)
$theme_color_2: #C05805; //menu color
*/

/*
//Theme 4 (VWhite)
$highlight_color: #EBCA44;
$highlight_font_color: #262228;
$theme_color_3: black; //font color
$theme_color_1: #FFCE00; //font color (highlight)
$theme_color_2: white; //menu color
*/

//other colors
$view_button_enabled_color: #6DB356;
$soft_highlight_color: #C2C2C2;

//logocs
$logo_font: 'Lobster Two', cursive;
//$first_font: 'Gentium Book Basic', serif;
//$first_font: 'Inconsolata', monospace;
//$first_font: 'Dosis', sans-serif;
$first_font: 'Cantarell', sans-serif;
$second_font: 'Open Sans', sans-serif;

body {
    font-family: $second_font;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

/* logo + navbar */
#logoHighlight {
    background-color: $highlight_color;
    border: 2px solid $highlight_color;
    border-radius: 1px;
    color: $highlight_font_color;
    padding: unset;
}

.navbar-brand, .navbar-inverse .navbar-brand{
    font-family: $logo_font;
    color: $theme_color_3;
}

.navbar-nav {
    font-family: $first_font;
}

.navbar-inverse {
    border-color: $theme_color_2;
    background-color: $theme_color_2;
}

//hover for navbar menu
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: $theme_color_1;
}
//non hover for navbar menu
.navbar-inverse .navbar-nav > li > a {
    color: $theme_color_3;
}

//hover for navbar compact menu icon
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: $theme_color_1;
    border-color: $theme_color_1;
}

//non hover navbar compact menu icon
.navbar-inverse .navbar-toggle {
    border-color: $theme_color_1;
}

.container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
    background-color: $theme_color_2;
    color: $theme_color_2;
}

/* all else */


/* home menu */
#home {
    margin: auto;
    text-align: center;
    width: 87%;
}

.homePageForm {
  margin-top: 80px;
}

#searchPageLogo{
    width: 225px;
    height: auto;
    padding-bottom: 6px;
    //padding-top: 30px;
}

#helpButton{
  align: bottom;
}

.red, .red a {
  color: red;
}
//Make the "View" Button more unique
//disabled and default (unactivated)
.btn-success {
  font: $first_font;
  border-radius:0;
  color: black;
  border-width: 2px;
  border-color: #6DB356;
  background-color: white;
}

.btn-success[disabled] {
  border-width: 1px;
  background-color: white;
  border-color: grey;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus, 
.btn-success.disabled:active:hover,
.btn-success.disabled.active:hover,
.btn-success[disabled]:active:hover,
.btn-success[disabled].active:hover,
fieldset[disabled] .btn-success:active:hover,
fieldset[disabled] .btn-success.active:hover,
.btn-success.disabled:active:focus,
.btn-success.disabled.active:focus,
.btn-success.disabled:active.focus,
.btn-success.disabled.active.focus,
.btn-success[disabled]:active:focus,
.btn-success[disabled].active:focus,
.btn-success[disabled]:active.focus,
.btn-success[disabled].active.focus,
fieldset[disabled] .btn-success:active:focus,
fieldset[disabled] .btn-success:active.focus, 
fieldset[disabled] .btn-success.active:focus,
fieldset[disabled] .btn-success.active.focus 
{
  background-color: white;
  border-color: grey;
}

//disabled, clicked and pulled outside the button
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: black;
  background-color: white;
  border-color: grey;
}

//for selected
.btn-success:focus,
.btn-success.focus {
  color: black;
  background-color: #F0F0F0;
  border-color: #6DB356;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: black;
  background-color: white;
  border-color: $view_button_enabled_color;
}

.btn-success:hover {
  color: black;
  background-color: #F0F0F0;
  border-color: $view_button_enabled_color;
}

///////////////////
/*
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
*/

/* questions */
.icon-link {
  font-size:25px;
}

.question {
  margin-bottom: 55px;
}

.answers {
  margin-top:25px;
}

.answer-item {
  margin-top: 18px; 
  margin-bottom: 15px;
  background: beige none repeat scroll 0% 0%;
}

.highlighted {
    background-color:yellow;
}

.soft_highlighted {
  //background-color:lightgray;
  background-color: $soft_highlight_color;
  border: 2px solid $soft_highlight_color;
  border-radius: 1px;
  color: black;
  padding: unset;
}

.highlighted {
  //background-color:lightgray;
  background-color: $highlight_color;
  border: 2px solid $highlight_color;
  border-radius: 1px;
  color: black;
  padding: unset;
}

.annotation_text:hover {
  background-color:lightgreen;
}

.annotationVideo {
  margin-top:25px;
  padding-bottom: 19px;
  border-bottom: 1px solid #e4e6e8;
}

.annotationVideo > .videoMeta {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 60px;
  padding-bottom: 70px;
  border: double;
  border-color: white;
  margin-top: 13px;
  border-radius: 6px;
}

#answersHeading{
  margin-bottom: 5px;
  border-bottom: 1px solid #e4e6e8;
}

.answerContainer{
  border-bottom: 1px solid #e4e6e8;
}
.answerScore {
  text-align: center;
}

.videoFormContainer{
  margin: auto;
}

h4.acceptedAnswerSign{
  text-align: center;
}

h3.videoScore{
  margin-top: 19px;
  margin-bottom: 5px;
}

#urlField {
  width: 92%;
  margin: auto;
}

.answerMetaData{
  margin-top: 18px; 
  margin-bottom: 15px;
}
#urlFormGroup > .control-label {
  margin-top:27px;
}

.glyphicon-flag {
    color:rosybrown;
}

.glyphicon-flag:hover {
    color:firebrick;
}

.popover {
  text-align: center;
}

.modal-content{
  max-width: 400px;
}

.modal-header-info {
  font:$second_font;
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: $theme_color_2;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

#tweetSuccessHeading {
  margin-top: 10px;
}

#tweetSuccessHeading > .glyphicon {
  color:#FFCE00;
}

.modal-footer > .btn {
  border-radius:0;
}
